.common-score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-bottom: 30px;
}

.common-score p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
}

.score-reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.score-reset h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
}

.score-reset button {
  width: 61px;
  height: 36px;
  padding: 12px, 10px, 12px, 10px;
  border-radius: 8px;
  background: rgba(0, 174, 28, 1);
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.line {
  left: -25px;
  position: relative;
  width: 1150px;
  height: 2px;
  border-top: 1px solid rgba(69, 69, 69, 1);
}
